@{
    ViewData["Title"] = "Home Page";
    ViewData["HomePage"] = true;
}

<div style="background-color: white">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="mb-5 display-2"><strong>Best Wine Collection</strong></h1>
                <p>
                    Discover a curated selection of fine wines from around the world — including bold reds, crisp whites, sparkling rosés, and elegant champagnes. Taste tradition, quality, and affordability in every bottle.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/images/hero-image.png" class="img-fluid" alt="hero" />
            </div>
        </div>
    </div>
</div>
